---
import Layout from '@layouts/Layout.astro'
import Container from '@components/container.astro'
import Sectionhead from '@components/sectionhead.astro'
import Contact from '../../components/contact.astro'
import About from '../../components/about.astro'

export function getStaticPaths() {
  return [{ params: { lang: 'en' } }, { params: { lang: 'sk' } }]
}

const { lang } = Astro.params

import { getCollection, getEntry } from 'astro:content'
import { getLocale } from 'astro-i18n-aut'

const locale = getLocale(Astro.url)

const about = await getEntry('about', locale + '/about')

export const prerender = true
---

<Layout title={about.data.layouttitle}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">{about.data.title}</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>
    <div class="container">
      <p class="text-lg mt-4 text-slate-600">
        {about.data.subtitle1}
      </p>
      <p class="text-lg mt-4 text-slate-600">
        {about.data.subtitle2}
      </p>
      <p class="text-lg mt-4 text-slate-600">
        {about.data.subtitle3}
      </p>
    </div>
  </Container>
</Layout>
