---
import Container from "@components/container.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import Toggle from "../toggle.astro";
import logo from '../../assets/logo.svg';
import { getLocale } from "astro-i18n-aut";

const locale = getLocale(Astro.url);

export function getStaticPaths() {
  return [
    {params: {lang: 'en'}},
    {params: {lang: 'sk'}},
  ];
}

const { lang } = Astro.params;

const localizedTitles = {
  en: {
    about: "About",
    machines: "Machines",
    contact: "Contact",
  },
  sk: {
    about: "O nás",
    machines: "Naše stroje",
    contact: "Kontakt",
  },
};

// todo
const menuTitles = localizedTitles[locale] || localizedTitles.en;

const menuitems = [
  {
    title: menuTitles.about,
    path: `/${locale}/about`,
  },
  {
    title: menuTitles.machines,
    path: `/${locale}/machines`,
  },
  {
    title: menuTitles.contact,
    path: `/${locale}/contact`,
  },
];
---


<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <!--todo-->
        <a href={"/" + locale} class="text-lg"
          >
          <img
            src={logo.src}
            alt="Svehla a Blasko logo."
            width="128"
          />
        </a>
        <div class="block lg:hidden flex items-center"> <!-- Add 'flex' and 'items-center' here -->
          <MenuIcon class="text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="text-lg flex lg:px-3 py-2 text-gray-600 hover:text-gray-900">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
