---
// @ts-ignore

const features = [
  {
    title: "CNC frézovanie",
    description:
      "Obrábacie centrá MAS MCV 1016 Quick, FNG40 CNC",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "CNC sústruženie",
    description:
      "Trens SBL 300, Trens SE 520, SBX 500 CNC",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Vŕtanie",
    description:
      "",
    icon: "bx:bxs-data",
  },
  {
    title: "Frézovanie",
    description:
      "",
    icon: "bx:bxs-bot",
  },
  {
    title: "Rezanie",
    description:
      "Rezanie a delenie všetkých druhov materiálov. Pásové píly Bianco – 2ks, Pegas",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Obrážanie (drážkovanie)",
    description:
      "Výroba priebežných drážok (do 16mm) do rôznych materiálov – ocele, nerezové ocele, Al zliatiny, Cu zliatiny",
    icon: "bx:bxs-user",
  },
  {
    title: "Sústruženie",
    description:
      "",
    icon: "bx:bxs-user",
  },
  {
    title: "Ostatné služby",
    description:
      "Rôzne povrchové úpravy (zinkovanie, pieskovanie, eloxovanie, kalenie, nitridáciu, oxinitridáciu a iné podľa potreby)",
    icon: "bx:bxs-user",
  },
  {
    title: "Doprava tovaru",
    description:
      "Valník Peugeot Boxer – dĺžka ložnej plochy 3300mm",
    icon: "bx:bxs-user",
  },
];
---

<!--<div class="mt-16 md:mt-0">-->
<!--  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">-->
<!--    Služby-->
<!--  </h2>-->
<!--  <p class="text-lg mt-4 text-slate-600">-->
<!--    S našim tímom skúsených odborníkov a nadšených mladých absolventov sme pripravení poskytnúť komplexný strojársky servis v oblasti trieskového obrábania rôznych kovov a plastov, vrátane zvárania, povrchových úprav a ďalších služieb.-->
<!--    Naším cieľom je zabezpečiť vašu spokojnosť tým, že splníme a prekročíme vaše očakávania.-->
<!--  </p>-->
<!--</div>-->

<!--<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">-->
<!--  {-->
<!--    features.map((item) => (-->
<!--      <div class="flex gap-1 items-start">-->
<!--        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">-->
<!--          <Icon class="text-white" name={item.icon} />-->
<!--        </div>-->
<!--        <div>-->
<!--          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}-->
<!--          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    ))-->
<!--  }-->
<!--</div>-->

<section class="bg-white dark:bg-gray-900">
  <div class="container px-6 py-10 mx-auto">
    <h1 class="text-5xl lg:text-4xl font-bold lg:tracking-tight">Služby</h1>

    <p class="text-lg mt-4 text-slate-600">
      S našim tímom skúsených odborníkov sme pripravení poskytnúť komplexný strojársky servis v oblasti trieskového obrábania rôznych kovov a plastov, vrátane zvárania, povrchových úprav a ďalších služieb.
    </p>

    <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-16 md:grid-cols-2 xl:grid-cols-3">
      {
        features.map((item) => (
          <div class="space-y-2">
            <!--<span class="inline-block p-3 text-blue-500 bg-blue-100 rounded-full dark:text-white dark:bg-blue-500">-->
            <!--    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
            <!--        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />-->
            <!--    </svg>-->
            <!--</span>-->

            <h2 class="text-xl font-semibold text-gray-800 capitalize dark:text-white">{item.title}</h2>
            <p class="text-slate-500 mt-0 leading-relaxed dark:text-gray-300">
              {item.description}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
