---
import { languages } from '../i18n/ui'
import { getLocale } from 'astro-i18n-aut'
import '/node_modules/flag-icons/css/flag-icons.min.css'

const basePath = import.meta.env.BASE_URL.replace(/\/$/, '')
const defaultLocale = 'sk'
const locale = getLocale(Astro.url)
const routePath = Astro.url.pathname.startsWith(basePath)
  ? Astro.url.pathname.slice(basePath.length) || '/'
  : Astro.url.pathname
const cleanRoutePath = routePath
  .replace(/\/index\.html$/, '/')
  .replace(/\.html$/, '')
  .replace(/\/+$/, '') || '/'
const normalizedRoutePath = cleanRoutePath.replace(/^\/(en|sk)(?=\/|$)/, '') || '/'
const localizedPath = (lang: string) =>
  lang === defaultLocale
    ? `${basePath}${normalizedRoutePath === '/' ? '' : normalizedRoutePath}`
    : `${basePath}/${lang}${normalizedRoutePath === '/' ? '' : normalizedRoutePath}`
// todo astro preferences disable devToolbar

const otherLocale = locale === 'en' ? 'sk' : 'en'
const localeFlags = {
  en: 'us',
  sk: 'sk',
}
---

<span class={`fi fi-${localeFlags[otherLocale]}`}></span>
<a href={localizedPath(otherLocale)}>
  {languages[otherLocale]}
  <!--<span class={`fi fi-${localeFlags[locale]}`}></span>-->
</a>

<!--astro preferences disable devToolbar-->
