---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter";
import i18next from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Švehla a Blaško"
  : "Švehla a Blaško - Kovoobrábanie";
---

<!DOCTYPE html>
<html lang={i18next.language}>
      <!--x-data="{darkMode: localStorage.getItem('darkMode')}"-->
      <!--x-init="$watch('darkMode', val => localStorage.setItem('darkMode', val))"-->
      <!--x-bind:data-theme='darkMode'>-->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <HeadHrefLangs />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Švehla a Blaško s. r. o. -- podnik s hlboko zakorenenou históriou a skúsenosťami od roku 1990."
      canonical={canonicalURL}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>

<script is:inline>
  // if (localStorage.getItem('darkMode') === 'dark') {
  //   document.querySelector('html').dataset.theme = 'dark'
  // }
  // if (localStorage.getItem('darkMode') === 'light') {
  //   document.querySelector('html').dataset.theme = 'light'
  // }
  // if (!localStorage.getItem('darkMode')) {
  //   let theme = window.matchMedia('(prefers-color-scheme: dark)')
  //     ? 'dark'
  //     : 'light'
  //   localStorage.setItem('darkMode', theme)
  // }
</script>